<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Salamigal</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/react-bootstrap-table-all.min.css" rel="stylesheet">
    <link href="/static/css/react-select.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond./static/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#monitor">Salamigal<span id="conn-indicator"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#config"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{ _("Configure") }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Monitor Section -->
        <section id="main-section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ _("Device monitoring") }}</h1>
                <p class="lead">{{ _("Please select one device from the list") }}</p>
                <div id="content">
                  
                </div>
            </div>
        </div>
        </section>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    
    <!-- React JS -->
    <script src="/static/js/build/react.js"></script>
    <script src="/static/js/build/react-dom.js"></script>
    <script src="/static/js/browser-polyfill.js"></script>
    <script src="/static/js/browser.js"></script>
    <script src="/static/js/react-input-autosize.js"></script>
    <script src="/static/js/react-classname/index.js"></script>
    <script src="/static/js/react-classname/dedupe.js"></script>
    <script src="/static/js/react-classname/bind.js"></script>
    <script src="/static/js/react-select.js"></script>
    <script src="/static/js/react-bootstrap-table.js"></script>
    <script src="/static/js/reconnecting-websocket.js"></script>
    
    <!-- Custom JS -->
    <script src="/static/js/socketService.js"></script>
    <script type="text/babel" src="/static/js/device.js"></script>
    <!--<script src="/static/js/custom.js"></script> -->
    
</body>

</html>